@import './assets/style/palette.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: "font-regular", Arial, Helvetica, sans-serif;
    user-select: none;
    overflow-y: hidden;
    color: $fg;
}

@font-face {
    font-family: "font-regular";
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: "font-bold";
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
}

html,
body {
    width: 100%;
    height: 100svh;
    background-color: $bg;
    font-size: 14px;
    color: $fg;
}