<div class="routed-page">
    <ng-container *ngIf="isGettingMetrics">
        Caricamento metriche...
    </ng-container>
    <ng-container *ngIf="!isGettingMetrics">
        <div class="card-list">
            <div class="card">
                <div class="title">Risorse sistema</div>
                <div class="content">
                    <div class="card-item">
                        <div class="key">Utilizzo CPU</div>
                        <div class="value">{{metrics?.cpu?.usage}}%</div>
                    </div>
                    <div class="card-item">
                        <div class="key">Utilizzo RAM</div>
                        <div class="value">{{metrics?.memory?.used}}%</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">Server</div>
                <div class="content">
                    <div class="card-item">
                        <div class="key">Uptime</div>
                        <div class="value" [matTooltip]="formatUptime(metrics?.uptime, true)">
                            {{formatUptime(metrics?.uptime, false)}}</div>
                    </div>
                    <div class="card-item">
                        <div class="key">Query da orologi</div>
                        <div class="value">{{metrics?.queryFromClocks}}</div>
                    </div>
                    <div class="card-item">
                        <div class="key">Query a DB</div>
                        <div class="value">{{metrics?.queryToDatabase}}</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">Report totali</div>
                <div class="content">
                    <div class="card-item">
                        <div class="key">Clienti</div>
                        <div class="value">{{metrics?.db?. totalCustomers}}</div>
                    </div>
                    <div class="card-item">
                        <div class="key">Terminali</div>
                        <div class="value">{{metrics?.db?. totalClocks}}</div>
                    </div>
                    <div class="card-item">
                        <div class="key">Timbrature</div>
                        <div class="value">{{metrics?.db?. totalAttlogs}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>