@import '../../../assets/style/palette.scss';

.offline {
    stroke: #be2a2a !important;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: $space-tiny;
}

.f-field {
    min-width: 150px;
}

.f-field-long {
    flex: 1;
}


$-filter-container-h: 80px;

.filter-container {
    display: flex;
    align-items: center;
    gap: $space-normal;
    height: $-filter-container-h;
    padding: 0px $space-normal;
    background: $gradient-dark;
}

.table-container {
    height: calc(100% - ($-filter-container-h + 16px)) !important;
}