<div class="routed-page">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="_actions">
                <th mat-header-cell *matHeaderCellDef>
                    <plus-circle-outline-icon class="field clickable"
                        (click)="onAddTerminal()"></plus-circle-outline-icon>
                </th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="terminalSN">
                <th mat-header-cell *matHeaderCellDef> ID Terminale </th>
                <td mat-cell *matCellDef="let element"> {{element.terminalSN}} </td>
            </ng-container>
            <ng-container matColumnDef="terminalIP">
                <th mat-header-cell *matHeaderCellDef> IP Terminale </th>
                <td mat-cell *matCellDef="let element"> {{element.terminalIP}} </td>
            </ng-container>
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> Nome cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Stato </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>