<div class="modal-container">
    <div class="modal-header">
        <div class="modal-title">
            Cancellazione cliente
        </div>
        <div class="modal-close">
            <x-circle-outline-icon class="clickable" (click)="closeMe()"></x-circle-outline-icon>
        </div>
    </div>
    <form class="modal-content modal-content-flex-v-center">
        <div>
            Nome cliente: {{data.customer_name}}
        </div>
        <div>
            Codice cliente: {{data.cu_code}}
        </div>
        <div class="bold">
            Attenzione! L'operazione è irreversibile.
        </div>
        <div class="bold red-big" *ngIf="showConfirm">
            Confermare di nuovo l'eliminazione.
        </div>
    </form>
    <div class="modal-footer">
        <div class="button" [ngClass]="canDelete ? 'button-primary' : 'button-disabled'"
            (click)="canDelete && onDeleteCustomer()">Conferma eliminazione</div>
    </div>
</div>