@import './palette.scss';

input:focus {
    outline: none !important;
}

input {
    color: $bg;
    display: flex;
    align-items: center;
    padding: $space-less;
}

form {
    height: 100%;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $space-tiny $space-normal;
    border-radius: $radius;
}

.button-primary {
    background-color: $btn-primary;
    color: $fg;
    cursor: pointer;
}

.button-secondary {
    background-color: $bg;
    color: $fg;
    cursor: pointer;
}

.button-disabled {
    background-color: $disabled-bg;
    color: $disabled-fg;
}