@import '../../../assets/style/palette.scss';

$-filter-container-h: 80px;

.filter-container {
    display: flex;
    align-items: center;
    gap: $space-normal;
    height: $-filter-container-h;
    padding: 0px $space-normal;
    background: $gradient-dark;
}

.table-container {
    height: calc(100% - ($-filter-container-h + 16px)) !important;
}

.f-field {
    min-width: 150px;
}

.f-field-long {
    flex: 1;
}

input.filterSearch {
    width: 100%;
    border: none;
    padding: 0px 16px;
    margin-bottom: 8px;
    font-family: 'font-regular';
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    gap: $space-normal;
}